@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
html{
	font-family: 'PT Sans', sans-serif;
}

#cognex-overlay{
	width: 100%;
	height: 110%;
	background:url('themes/maccaco/overlay_bg.png');
	position: absolute;
	top: 0;
}
#ajax-content{
	display: none;
}
#cognex-player{
	margin-left: -20px;
	padding-left: 20px;
}
.cog-desc-content{
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: 999;
	padding: 9px 0 0 25px;
}
.cog-right-col{
	float: left;
	height: 480px;
	margin: 46px 10px 0 20px;
	border: 4px solid #333;
	padding: 9px;
	width:640px;
}

 br.clear{
 	clear:both;
 }
.cog-left-col{
	float: left;
width: 198px;
background: url('themes/maccaco/col-left-background.jpg') no-repeat;
height: 820px;
background-position-y: 0px;
padding: 35px 0 0 51px;
}
.cog-vid-close-btn{
	background: url('themes/maccaco/close_btn.png') no-repeat;
	cursor: pointer;
	width: 27px;
	height: 27px;
	position: relative;
	margin: -8px 0 -44px 940px;
	background-size: 27px;
	background-position-y: 0px;
	position: absolute;
}
#player-container{
	width: 960px;
	margin: 50px auto 0 auto;
	background: #222;
	height: 611px;
}
.active-item{
	background: #fff200 !important;
}
.active-item:hover{
	background: #fff200 !important;
}
#cog-nav{
	list-style-type: none;
	width: 202px;
	margin: 0 0 0 5px;
	padding: 0;
}
li.cog-nav-item{
cursor: pointer;
padding-left: 7px;
background: #7b7c7f;
margin: 10px;
font-weight: normal;
color: #fff;
font-size: 13px;
}
div.cog-item-title{
	background: #4a4a4c;
	padding-left: 2px;
}
.cog-item-title:hover{
	background: #666;
}
.cog-col-header{
	background: url('themes/maccaco/interactive_toolkit2.jpg') no-repeat;
	width: 100%;
	height: 103px;
}
#cognex-player_media_image{
	height: 100%!important;
	top: 0!important;
}
.ppcontrols{
	background: none !important;
	border: none!important;
	bottom: 55px !important;
}
p.indent{
	margin:0 0 0 25px;
}
.cognex-content{
	color:#fff;
	font-size: 14px;
}
.cognex-content.view-btn{
	position: absolute;
	margin: 340px 0 0 33px;
}
#cognex-view-btn{
	background: url('themes/maccaco/view_btn.png') no-repeat;
	width: 81px;
	height: 32px;
	margin: 16px 0 0 22px;
	cursor:pointer;
}