@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
html{
	background: #333;
	font-family: 'PT Sans', sans-serif;
}

#cognex-overlay{
	width: 100%;
	height: 100%;
	background: #333;
	position: absolute;
	top: 0;
}
#ajax-content{
	display: none;
}
#cognex-player{
	margin-left: -20px;
	padding-left: 20px;
}
.cog-desc-content{
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: 999;
	padding: 9px 0 0 25px;
}
.cog-right-col{
	float: left;
	height: 480px;
	margin: 46px 10px 0 20px;
	border: 4px solid #333;
	padding: 9px;
	width:640px;
}

 br.clear{
 	clear:both;
 }
.cog-left-col{
	float: left;
width: 198px;
background: url('themes/maccaco/col-left-background.jpg') no-repeat;
height: 820px;
background-position-y: 0px;
padding: 35px 0 0 51px;
}
.cog-vid-close-btn{
	width: 66px;
	height: 22px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
}
#player-container{
	width: 960px;
	margin: 50px auto 0 auto;
	background: #222;
	height: 656px;
}
.active-item{
	background: #fff200 !important;
}
.active-item:hover{
	background: #fff200 !important;
}
#cog-nav{
	list-style-type: none;
	width: 202px;
	margin: 0 0 0 5px;
	padding: 0;
}
li.cog-nav-item{
cursor: pointer;
padding-left: 7px;
background: #7b7c7f;
margin: 10px;
font-weight: normal;
color: #fff;
font-size: 13px;
}
div.cog-item-title{
	background: #4a4a4c;
	padding-left: 2px;
}
.cog-item-title:hover{
	background: #666;
}
.cog-vid-close-btn{
	cursor: pointer;	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}
.cog-col-header{
	background: url('themes/maccaco/interactive_toolkit.jpg') no-repeat;
	width: 100%;
	height: 100px;
}
#cognex-player_media_image{
	height: 100%!important;
	top: 0!important;
}
.ppcontrols{
	background: none !important;
	border: none!important;
	bottom: 55px !important;
}